body {
    background-color: #4a6fa5;
    color: #d0d3d4;
    font-family: cursive;
    padding: 2rem;
}

h1 {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #d0d3d4;
    text-underline-offset: 12px;
}

h2 {
    font-style: oblique;
    color: #66ff66;
}

h3 {
    font-style: italic;
    color: #d0d3d4;
}


p {
    text-align: justify;
    line-height: 1.5;
    border: none;
    
}

.r2 { 
    overflow: hidden;
    margin: 20px;
}

.cain {
    float: right;
    width: 40%;
    padding: 20px;
    padding-bottom: 20px;
    display: block;
    margin-top: -40px;
}

.columns {
    column-count: 2;
    column-gap: 2rem;
    background-color: #d0d3d4;
    color: #4a6fa5;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    column-rule: 2px solid #4a6fa5;

}

video {
    max-width: 60%;
}

ol {
    list-style: upper-alpha;
}


a {
    text-decoration: none;
    color: #d0d3d4;
}

span {
    font-weight: bold;
    color: #00ff33;
    
}

.poster {
    border: 5px solid #00ff33;
    box-shadow: 0 0 15px 5px #d0d3d4;
   
}

.okvir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 900px; 
    gap: 4rem;

}

.rama {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 3rem;

}


.poster {
    width: 320px;                 
    height: auto;
    border-radius: 10px;
    
}

.rama h2 {
    margin: 0;
    text-align: center;
}

.rama video {
    max-width: 100%;
    border-radius: 10px;
    
}


.video-player {
    height: 600px;
    aspect-ratio: 16 / 9;
}


.slika {
    display: block;
    width: 50%;
    margin: 20px auto;

    
}


.br {
    color: #ff6f3c;
}

.t1 {
    color: #0a0a0a;
}