:root {
    --poster-width: 260px;
    --video-width: 640px;
}


body {
    background-color: #0a0a0a;
    color: #a6a9aa;
    font-family: cursive;
}

h1 {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #ff1a1a;
}

span {
    color: #ff1a1a;
}

.br { color: #ff6f3c; }
.rc { color: #00ff33; }

hr {
    margin: 20px 0 40px;
}


.grid {
    display: grid;
    grid-template-columns: var(--poster-width) 1fr;
    gap: 14rem;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 60px auto;
    align-items: start;
}


.lijevo {
    display: flex;
    flex-direction: column;
    position: ;
    gap: 1.5rem;
}

.poster-glavni {
    width: 400px;   
    border: 5px solid #ff1a1a;
    box-shadow: 0 0 15px 5px #a6a9aa;
}


.poster,
.poster-b,
.poster-c {
    width: var(--poster-width);
    height: auto;
}

.poster {
    border: 5px solid #ff1a1a;
    box-shadow: 0 0 15px 5px #a6a9aa;
}

.poster-b {
    border: 5px solid #0a0a0a;
    box-shadow: 0 0 15px 5px #ff1a1a;
}

.poster-c {
    border: 5px solid #ff1a1a;
    box-shadow: 0 0 15px 5px #0a0a0a;
}



.lista {
    padding-left: 20px;
    list-style-position: inside;
    font-size: 0.95rem;
    white-space: nowrap;
}


.desno {
    max-width: 700px;
    background: #111;
    padding: 24px 48px;
    border-radius: 10px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* border: 2px solid #a6a9aa; 
    box-shadow: 0 0 10px rgba(255, 26, 26, 0.4), */
        
}

.desno h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

i {
    color: aqua;
}

.desno p {
    line-height: 1.8;
}

.video-block video {
    width: var(--video-width);
    max-width: 100%;
    padding-top: 20px;
}

.podnaslov {
    text-align: center;
    font-size: small;
    font-style: italic;
    margin-top: 5px;
    color: #ff1a1a;
}


.kartice {
    display: flex;
    gap: 20px;
    justify-content: center;

    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 50px;

    color: #0a0a0a;
}

.card {
    background: #a6a9aa;
    padding: 16px;
    border-radius: 8px;
    flex: 1;
}

.card.text {
    flex: 2.4;
    max-width: 55%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.card.text audio {
    align-self: center;
}

.card.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.photo img {
    width: var(--poster-width);
    height: auto;
    border-radius: 6px;
}

.card.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card.list .lista {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}


.okvir {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px 0 30px;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.citat-a,
.citat-b {
    padding: 10px 14px;
    font-style: italic;
    text-align: center;
    margin: 12px 0;
}

.citat-a {
    background: white;
    border: 5px solid #0a0a0a;
}

.citat-b {
    background: #0a0a0a;
    color: #ff1a1a;
    border-left: 5px solid #ff1a1a;
}


.kraj {
    text-align: center;
}

.slika {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 40px 0;
}


.audio-red::-webkit-media-controls-panel {
    background-color: #ff1a1a;
}

.audio-black::-webkit-media-controls-panel {
    background-color: #a6a9aa;
}

.header-t2 {
    text-align: right;
}

table {

}

table {
    width: 80%;
    border: 1px solid #a6a9aa;
    text-align: center;
    border-collapse: collapse;
    margin: 40px auto;
    margin-bottom: 40px;
    
}

h4 {
    color: #ff1a1a;
    text-align: center;
    font-size: large;
}

caption {
    text-align: center;
    padding-bottom: 10px;
    color: #ff1a1a;
}

thead {
    background-color: #0a0a0a;
    color: #ff1a1a;
    
}

thead th {
    border-left: 1px solid #a6a9aa;
    border-right: 1px solid #a6a9aa;
    padding: 10px;
}

tbody tr td {
    border: 1px solid #0a0a0a;
    padding: 10px;
    color: #0a0a0a;
    background-color: #a6a9aa;
}

tbody td:first-child {
    font-weight: bold;
}
