body {
    background-color: #0a0a0a;
    color: #a6a9aa;
    font-family: cursive;
}

h1 {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #ff1a1a;
}

.poster {
    float: left;
    margin: 20px 30px 10px 20px;
    border: 5px solid #ff1a1a;
    box-shadow: 0 0 15px 5px #a6a9aa;
}

.poster-b {
    margin: 20px 30px 10px 20px;
    border: 5px solid #0a0a0a;
    box-shadow: 0 0 15px 5px #ff1a1a;
}

.poster-c {
    margin: 20px 30px 10px 20px;
    border: 5px solid #ff1a1a;
    box-shadow: 0 0 15px 5px #0a0a0a;
}

.citat-a, .citat-b {
    padding: 10px 10px 10px 14px;
    font-style: italic;
    text-align: center;
    margin: 12px 0;
   
}

.citat-b {
    border-left: 5px solid #ff1a1a;
    padding: 10px;
    background-color: #0a0a0a;
    color: #ff1a1a;
}

.citat-a {
    background-color: white;
    border-left: 5px solid #0a0a0a;
    border-bottom: 5px solid #0a0a0a;
    border-right: 5px solid #0a0a0a;
}

.ispod-slike {
    clear: left;       /* ⬅ spušta tekst ispod postera */
    margin-left: 20px;
    font-style: italic;
}


.desno {
    margin: 20px;
    line-height: 1.8;
}

span {
    color: #ff1a1a;
}

.br {
    color: #ff6f3c;
}

.rc {
    color: #00ff33;
}

video {
    display: block;
    margin: 40px auto 10px;
    clear: both;
}

.podnaslov {
    font-size: small;
    text-align: center;
    font-style: italic;
}

.desni-blok {
    margin-left: 360px;
}


audio::-webkit-media-controls-panel {
    background-color: #ff1a1a;
}

.header-t2 {
    text-align: right;
}


.kartice {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    color: #0a0a0a;
    padding-bottom: 50px;
}

.card.text {
    flex: 2.4;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.card.text audio {
    align-self: center;
}


.card {
    background: #a6a9aa;
    padding: 16px;
    border-radius: 8px;
    flex: 1;
}

.card.photo {
    flex: 0 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.photo img {
    max-width: 260px; 
    height: auto;
    border-radius: 6px;
}

.card.list {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    text-align: center;
    gap: 10px; 
}

.card.list .lista {
    text-align: left;
    width: 100%;       
    margin-top: 20px;  
    padding-left: 20px;
}

.card.list ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.card.list ul {
    margin-top: 10px;
}

















.slika {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding-top: 40px;
   
}

.okvir {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px 0 30px;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista {
    margin: 10px 0 0;
    padding-left: 20px;
    padding-top: 10px;
    list-style-position: inside;
    text-align: left;
    width: 100%;
}

hr {
    margin-top: 20px;
    margin-bottom: 40px;
}
.kraj {
    display: block;
    text-align: center;
    gap: 3rem;
}
.slika {
    padding-bottom: 40px;
}