body {
    background-color: #0a0a0a;
    color: #a6a9aa;
    font-family: cursive;
}

h1 {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #ff1a1a;
}

.poster {
    float: left;
    margin: 20px 30px 10px 20px;
    border: 5px solid #ff1a1a;
    box-shadow: 0 0 15px 5px #a6a9aa;
}

.ispod-slike {
    clear: left;       /* ⬅ spušta tekst ispod postera */
    margin-left: 20px;
    font-style: italic;
}


.desno {
    margin: 20px;
    line-height: 1.8;
}

span {
    color: #ff1a1a;
}

.br {
    color: #ff6f3c;
}

.rc {
    color: #00ff33;
}

video {
    display: block;
    margin: 40px auto 10px;
    clear: both;
}

.podnaslov {
    font-size: small;
    text-align: center;
    font-style: italic;
}

.desni-blok {
    margin-left: 360px;
}

.lista {
    width: 60%;
    margin: 120px 500px;
}

audio::-webkit-media-controls-panel {
    background-color: #ff1a1a;
}


